/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/chair-3.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/customers.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/hero.jpg);
} */

.carousel-img {
  width: 100%;
  height: 100vh;
}
